/* Container spacing */
.container {
  margin-top: 40px;
}

/* Make all cards same height */
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}

/* Image fixed height */
.card-img-top {
  height: 220px;
  object-fit: contain;
  padding: 10px;
  background: #fff;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 15px;
}


.card-title {
  font-size: 25px;
  font-weight: 600;
  min-height: 40px;
  margin-bottom: 5px;
}

.card-text {
  font-size: 20px;
  min-height: 60px;
  max-height: 60px;
  overflow: hidden;
}


.stars {
  margin: 0px -15px;
}

.filled-star {
  color: #ffd700;
}

.empty-star {
  color: #ccc;
}


.price {
  font-size: 18px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 10px;
}


.btn-primary {
  width: 100%;
  margin-top: auto;
  background-color: black;

}
.fa-solid{
  margin-left: 10px;
}


.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
