html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

