.container {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  height: 300px;
  object-fit: contain;
  padding: 10px;
  background: #fff;
}
.card img{
  object-fit: fill;
}
.card-body {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.card-title {
  font-size: 20px !important;
  font-weight: 600;
  min-height: 40px;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 60px;
  overflow: hidden;
  line-height: 1;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.card-text {
  font-size: 18px !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 60px;
  overflow: hidden;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.stars {
  display: flex;
  gap: 5px;
  
}


.filled-star {
  color: #ffd700;
}

.empty-star {
  color: #ccc;
}

.price {
  font-size: 25px !important;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  margin-top: auto;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #ffc107;
  border: none;
  transform: scale(1.05);
}
.fa-solid {
  margin-left: 10px;
}

.added-to-cart {
  color: rgb(25, 135, 84);
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  opacity: 0;
}
.added-to-cart img {
  height: 19px;
  margin-right: 6px;
}
