.search-page {
  min-height: 100vh;
  background-color: #f2f2f2;
  padding: 20px 0;
}

.search-bar-container {
  width: 100%;
  max-width: 600px;
  margin: 80px auto 30px auto;
  text-align: center;
}

.search-bar-container input {
  width: 94%;
  padding: 12px 15px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .col-md-6,
  .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
